---
import Archive from "./icons/Archive.astro";
import ExperienceCard from "./ExperienceCard.astro";

const experience = [
    {
        title: "Software Engineer",
        company: "ING España & Portugal",
        start: "Present",
        end: "",
        description: "External collaborator as a software engineer with Babel, developing applications and tools for other developers at the bank. Focused on backend, DevOps technologies, and SRE.",
        evenodd: 0
    },
    {
        title: "Backend Software Engineer Intern",
        company: "Babel",
        start: "2024",
        end: "2024",
        description: "Internship as a backend programmer in Java with the Spring framework focused on the banking sector.",
        evenodd: 1
    },
    {
        title: "IT Technical Support",
        company: "IMAD Computers",
        start: "(rejoined) 2019",
        end: "2020",
        description: "Training in the practical aspects of marketing, assembly, and repair of computer equipment, networks, and microcomputer services in general. Occupations and positions within the professional field include: Equipment Installer/Repair Technician, IT Support Technician, Network Technician, and Microcomputer Sales Representative.",
        evenodd: 0
    },
    {
        title: "IT Technical Support",
        company: "IMAD Computers",
        start: "2017",
        end: "2018",
        description: "Training in the practical aspects of marketing, assembly, and repair of computer equipment, networks, and microcomputer services in general. Occupations and positions within the professional field include: Equipment Installer/Repair Technician, IT Support Technician, Network Technician, and Microcomputer Sales Representative.",
        evenodd: 1
    },


]


---

<section class="p-5 lg:p-0 py-8 lg:w-[52rem] mx-auto max-w-screen-xl justify-center">
    <h1 class="text-3xl text-wrap font-extrabold text-gray-200 inline-flex items-center"><span class="pr-2"><Archive /></span>Experience</h1>
    <div class="mt-5 lg:flex ">
        <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
            
                {
                    experience.map((job) => {
                    return <ExperienceCard {...job} />})
                }
        </ul>
    </div>
</section>